[BASIC]

# Good variable names which should always be accepted, separated by a comma
good-names=e,ex,id,r,i,j

[FORMAT]

# Maximum number of characters on a single line.
max-line-length=200

# Maximum number of lines in a module
max-module-lines=2000